@import './variables';

.header {
    &__menu {
        @include flexCenter(row, space-evenly, center);
        flex-shrink: 0;
        margin: 0;
        background-color: rgb(44, 52, 75);
        height: 80px;
        padding: 0px 100px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        &__logo {
            height: 60px;
        }

        & a {
            @include flexCenter(row, center, center);
            font-size: 15px;
            color: rgb(213, 238, 238);
            text-decoration: none;
            line-height: 10px;

            & img {
                height: 20px;
                border-radius: 50%;
                margin-right: 5px;
            }
        }

        & a:hover,
        a:focus {
            color: $generalColor;
            font-weight: bold;
        }

        & button {
            width: 100px;
            height: 35px;
            background-color: $generalColor;
            border: 2px solid $generalColor;
            color: rgba(255, 255, 255, 0.933);
            border-radius: 3px;
        }

        & button:hover {
            background-color: rgb(44, 52, 75);
            border: 2px solid $generalColor;
            color: $generalColor;
            font-weight: bold;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}