@import './variables';

.loginpage {
    height: 100vh;
    width: 100vw;
    @include flexCenter(column, center, center);
    background-image: url('../../public/back.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &__container {
        @include flexCenter(column, start, center);
        background-color: rgba(217, 242, 255, 0.611);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        height: 60vh;
        width: 50%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: normal;
        line-height: 24px;

        &__heading__bjit {
            margin-top: 9%;
            color: rgb(22, 22, 107);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

        &__form__section {

            &__form {
                @include flexCenter(column, center, start);
                margin-top: 10px;

                & input {
                    height: 25px;
                    width: 300px;
                    border: 2px solid $generalColor;
                    border-radius: 3px;
                    background-color: rgba(229, 235, 241, 0.751);
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }

                & label {
                    margin-bottom: 7px;
                    color: rgb(32, 92, 124);
                    ;
                    font-family: $fontLobs;
                }

                & span {
                    margin-bottom: 30px;
                }
                
                &__button {
                    @include flexCenter(row, space-between, center);
                    width: 100%;
                    & button {
                        height: 30px;
                        width: 100px;
                        color: rgba(255, 255, 255, 0.856);
                        background-color: $generalColor;
                        border: 2px solid $generalColor;
                        border-radius: 6px;
                        font-size: $fontSizeBodySmall;
                    }
    
                    & button:hover {
                        background-color: rgba(213, 232, 248, 0.436);
                        border: 2px solid $generalColor;
                        color: $generalColor;
                    }
                    & a{
                        color: $generalColor;
                    }
                }
    
            }

            
        }


    }

    // &__container::before {
    //     content: "";
    //     position: absolute;
    //     top: 0px;
    //     right: 0px;
    //     bottom: 0px;
    //     left: 0px;
    //     background-color: rgba(152, 66, 211, 0.63);
    // }
}