@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.loginpage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/back.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.loginpage__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgba(217, 242, 255, 0.611);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  height: 60vh;
  width: 50%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  line-height: 24px;
}
.loginpage__container__heading__bjit {
  margin-top: 9%;
  color: rgb(22, 22, 107);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.loginpage__container__form__section__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 10px;
}
.loginpage__container__form__section__form input {
  height: 25px;
  width: 300px;
  border: 2px solid rgb(78, 141, 164);
  border-radius: 3px;
  background-color: rgba(229, 235, 241, 0.751);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.loginpage__container__form__section__form label {
  margin-bottom: 7px;
  color: rgb(32, 92, 124);
  font-family: "Lobster", cursive;
}
.loginpage__container__form__section__form span {
  margin-bottom: 30px;
}
.loginpage__container__form__section__form__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.loginpage__container__form__section__form__button button {
  height: 30px;
  width: 100px;
  color: rgba(255, 255, 255, 0.856);
  background-color: rgb(78, 141, 164);
  border: 2px solid rgb(78, 141, 164);
  border-radius: 6px;
  font-size: 16px;
}
.loginpage__container__form__section__form__button button:hover {
  background-color: rgba(213, 232, 248, 0.436);
  border: 2px solid rgb(78, 141, 164);
  color: rgb(78, 141, 164);
}
.loginpage__container__form__section__form__button a {
  color: rgb(78, 141, 164);
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  margin: 0;
  background-color: rgb(44, 52, 75);
  height: 80px;
  padding: 0px 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header__menu__logo {
  height: 60px;
}
.header__menu a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: rgb(213, 238, 238);
  text-decoration: none;
  line-height: 10px;
}
.header__menu a img {
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.header__menu a:hover,
.header__menu a:focus {
  color: rgb(78, 141, 164);
  font-weight: bold;
}
.header__menu button {
  width: 100px;
  height: 35px;
  background-color: rgb(78, 141, 164);
  border: 2px solid rgb(78, 141, 164);
  color: rgba(255, 255, 255, 0.933);
  border-radius: 3px;
}
.header__menu button:hover {
  background-color: rgb(44, 52, 75);
  border: 2px solid rgb(78, 141, 164);
  color: rgb(78, 141, 164);
  font-weight: bold;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(78, 141, 164);
}
.profile__header {
  font-family: "Lobster", cursive;
  font-weight: 100;
}
.profile hr {
  width: 100%;
}
.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 235, 242);
  margin-top: 50px;
  padding: 50px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.profile__container__img {
  border-radius: 50%;
  height: 150px;
}
.profile__container__name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: rgb(9, 83, 144);
}
.profile__container__name p {
  color: rgb(78, 141, 164);
  font-weight: 400;
  margin-left: 10px;
  width: 300px;
}
.profile a {
  width: 100px;
  height: 28px;
  background-color: rgb(78, 141, 164);
  border: 1px solid rgb(78, 141, 164);
  color: rgba(255, 255, 255, 0.933);
  border-radius: 3px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}
.profile a:hover {
  background-color: rgb(234, 249, 250);
  border: 1px solid rgb(78, 141, 164);
  color: rgb(78, 141, 164);
}

body {
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  background-color: rgb(237, 250, 252);
}
.layout__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 80px;
}
.layout__container__body {
  padding: 0px;
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}

.list {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list__create-batch {
  background-color: rgb(63, 95, 141);
  border: 0;
  color: whitesmoke;
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
}
.list__on_up {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(213, 234, 247);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 10px;
}
.list__on_up a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  padding: 10px;
}
.list__on_up a:hover,
.list__on_up a:focus {
  background-color: white;
  color: rgb(40, 153, 190);
  box-shadow: rgb(199, 212, 222) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.list__create-batch:hover {
  background-color: rgb(78, 141, 164);
}
.list__header {
  color: rgb(78, 141, 164);
  font-family: "Lobster", cursive;
}
.list__hr {
  width: 100%;
  background-color: rgb(60, 152, 209);
}
.list__batch {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  padding: 40px 20px;
  padding: 10px;
}
.list__batch__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 249, 252);
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.list__batch__container__body {
  height: auto;
  margin: 5px 0;
}
.list__batch__container__title {
  color: rgb(21, 82, 129);
}
.list__batch__container__des {
  text-align: justify;
}
.list__batch__container__des span {
  font-weight: bold;
  color: rgb(21, 82, 129);
}
.list__batch__container__btn {
  border: 0;
  color: whitesmoke;
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
  width: 90px;
  margin: 5px;
}
.list__batch__container .edit {
  background-color: rgb(82, 163, 185);
}
.list__batch__container .delete {
  background-color: rgb(247, 75, 95);
}

.list__form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 50px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  font-family: "DM Sans", sans-serif;
}
.list__form__input {
  padding-bottom: 10px;
  width: 200px;
}
.list__form__input input,
.list__form__input textarea {
  height: 25px;
  width: 200px;
  border: 1px solid rgb(78, 141, 164);
  border-radius: 4px;
  margin-bottom: 12px;
}
.list__form__input textarea {
  height: 100px;
}
.list__form__input p {
  margin: 0 0 7px 0;
  color: rgb(67, 67, 139);
}
.list__form button {
  background-color: rgb(66, 125, 168);
  border: 0;
  color: whitesmoke;
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
  width: 90px;
  margin: 5px;
}
.list__form button:hover {
  background-color: rgb(78, 141, 164);
}/*# sourceMappingURL=style.css.map */